<p style="color: green"><%= notice %></p>
<div >
  <div class="login-nav">
      <div><%= link_to "BACK", users_path, class: "rails-link" %> </div>
      <div>CATEGORY</div>  
      <div><%= button_to "LOG-OUT", destroy_user_session_path, method: :delete, class: "rails-btn" %></div>          
  </div>

  <% if @categories.empty? %>
    <h2 class="category-msg">There are no categories available</h2>
  <% end %>
  <% @categories.each do |category| %>
    <%= link_to category_operations_path(category_id: category.id) do %>
    <div class="category">

      <div class="photo">
        <% if category.icon.attached? %>
          <%= image_tag category.icon, class: "profile_img" %>
        <% end %>
      </div>

      <div class="transaction-time">
        <p><%= category.name %></p>
        <p class="fs"><%= category.created_at.strftime("%d %b %Y") %></p>
      </div>

      <p><strong><%= category.operations.sum(:amount) %>$ </strong></p>

    </div>
      <% end %>
  <% end %>

  <div class = "footer_container">
 <div class ="footer">
 <p class="forgot-pwd"><%= link_to "ADD NEW CATEGORY", new_category_path(@user) %></p>
 </div>
 </div>

  
</div>




